@media screen and (min-width: 1366px)
  $gutter = 50px

  $margin-micro = ($gutter / 4)
  $margin-tiny = ($gutter / 2.5)
  $margin-small = ($gutter / 1.5)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 1.5)
  $margin-large = ($gutter * 2)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, xxl)

  .font-size-extra
    font-size: $font-size-extra
  .font-size-big
    font-size: $font-size-big
  .font-size-large
    font-size: $font-size-large
  .font-size-item-title
    font-size: $font-size-item-title
  .font-size-mid
    font-size: $font-size-mid
  .font-size-basic
    font-size: $font-size-basic
  .font-size-small
    font-size: $font-size-small
  .font-size-tiny
    font-size: $font-size-tiny
  .font-size-micro
    font-size: $font-size-micro

  font-sizes($font-size-basic)

  // MENU

  ul.menu
    li
      margin-right: $margin-small

  // SEARCH

  $search-height = 50px

  body.search-active
    #search-field
      height: 700px

  #search-spacer
    height: $search-height

  #search-input
    width: calc('100vw - ' + $margin-basic)
    margin: 0 ($margin-basic / 2)

  #search-field
    padding-top: $search-height

  .search-trigger
    height: $search-height

  #search-icon
    margin-top: -0.2em
    margin-right: 0.3em
    width: 12px
    height: 12px

  // FOOTER

  #footer
    padding-top: $gutter * 5

  // ARTICLE

  $header-image-height = 500px

  #single-header
    min-height: $header-image-height + ($margin-mid * 2)

  #single-header-image-holder
    background-size: auto $header-image-height

  #article-content
    p
      padding: 0 $margin-tiny
    ul,ol
      padding: 0 $margin-mid
      ul,ol
        padding-left: $margin-small
    hr.wp-block-separator
      margin: $margin-small 0 $margin-basic
    .swiper-container
      margin: $margin-basic 0 $margin-mid
      figure
        padding: $margin-mid 0
      figcaption
        padding-top: $margin-tiny
    figure.wp-block-embed
      padding: 0 $margin-tiny
    .wp-block-embed, .wp-block-image
      figcaption
        font-size: $font-size-tiny

  // HOME

  #post-featured-holder
    position: relative
    min-height: $header-image-height + ($margin-mid * 2)

  #post-featured-image-holder
    background-position: ($gutter / 2) center
    background-size: auto $header-image-height
