@media screen and (min-width: 1366px)

  $gutter = 26px

  grid-maker(100%, $gutter, xl)

  .font-size-extra
    font-size: $font-size-extra
  .font-size-big
    font-size: $font-size-big
  .font-size-large
    font-size: $font-size-large
  .font-size-mid
    font-size: $font-size-mid
  .font-size-basic
    font-size: $font-size-basic
  .font-size-small
    font-size: $font-size-small
  .font-size-tiny
    font-size: $font-size-tiny
  .font-size-micro
    font-size: $font-size-micro

  font-sizes($font-size-basic)
