@media screen and (min-width: 1280px)
  $gutter = 40px

  $margin-micro = ($gutter / 4)
  $margin-tiny = ($gutter / 2.5)
  $margin-small = ($gutter / 1.5)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 1.5)
  $margin-large = ($gutter * 2)

  .font-size-extra
    font-size: $font-size-extra * .8
  .font-size-big
    font-size: $font-size-big * .8
  .font-size-large
    font-size: $font-size-large * .8
  .font-size-mid
    font-size: $font-size-mid * .8
  .font-size-basic
    font-size: $font-size-basic * .8
  .font-size-small
    font-size: $font-size-small * .8
  .font-size-tiny
    font-size: $font-size-tiny * .8
  .font-size-micro
    font-size: $font-size-micro * .8

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, xl)

  // MENU

  ul.menu
    li
      margin-right: $margin-small

  // SEARCH

  $search-height = 40px

  #search-spacer
    height: $search-height

  // FOOTER

  #footer
    padding-top: $gutter * 5

  // ARTICLE

  $header-image-height = 450px

  #single-header
    min-height: $header-image-height + ($margin-mid * 2)

  #single-header-image-holder
    background-size: auto $header-image-height

  #article-content
    hr.wp-block-separator
      margin: $margin-small 0 $margin-basic
    .swiper-container
      margin: $margin-basic 0 $margin-mid
      .swiper-slide
        width: 70vw
      figure
        padding: $margin-mid 0

  // HOME

  #post-featured-image-holder
    background-position: ($gutter / 2) center
    background-size: auto $header-image-height
