$gutter = 25px

$margin-micro = 8px
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter / 1.5)
$margin-basic = ($gutter)
$margin-mid = ($gutter * 1.5)
$margin-large = ($gutter * 2)

$font-size-extra = 135px
$font-size-big = 90px
$font-size-large = 60px
$font-size-item-title = 32px
$font-size-mid = 27px
$font-size-basic = 21px
$font-size-small = 18px
$font-size-tiny = 16px
$font-size-micro = 11px

$font-size-modifier = .7

.font-size-extra
  font-size: $font-size-extra * .3
.font-size-big
  font-size: $font-size-big * .4
.font-size-large
  font-size: $font-size-large * .6
.font-size-item-title
  font-size: $font-size-item-title * $font-size-modifier
.font-size-mid
  font-size: $font-size-mid * $font-size-modifier
.font-size-basic
  font-size: $font-size-basic * $font-size-modifier
.font-size-small
  font-size: $font-size-small * $font-size-modifier
.font-size-tiny
  font-size: $font-size-tiny * $font-size-modifier
.font-size-micro
  font-size: $font-size-micro * $font-size-modifier

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

// ADMIN

#cmb2-id-generalinfo-contact
  .mce-btn
    display: none
    &#mceu_9
      display: inline-block
// BORDER

.border-top
  border-top: 1px solid $color-black

.border-right
  border-right: 1px solid $color-black

.border-bottom
  border-bottom: 1px solid $color-black

// BACKGROUND

.background-grey-lite
  background-color: $color-grey-lite

.background-grey-dark
  background-color: $color-grey-dark

.background-yellow
  background-color: $color-yellow

.background-blue
  background-color: $color-blue

// FONT COLOR

.font-color-white
  color: $color-white

// BASIC

#main-container
  min-height: 100vh

.flex-grow
  flex-grow: 1

.block-category, .post-tag
  border: 1px solid $color-black
  padding: 0 .2em

.background-grey-dark
  .block-category, .post-tag
    border-color: $color-white

.post-tag
  border-radius: .3em

ul#social-list
  li:not(:last-of-type)
    margin-right: .5em

.margin-bottom-half-em
  margin-bottom: .5em

.p-no-margin-bottom
  p
    margin-bottom: 0

.font-size-zero
  font-size: 0

a:focus
  outline-color: $color-yellow

.background-yellow
  a:focus
    outline-color: $color-white

.marquee
  overflow: hidden
  div
    padding-right: 1em

svg.header-doodle
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 0
  line, path, polyline, rect, polygon
    fill: none
    stroke: $color-black
    stroke-linecap: square
    stroke-miterlimit: 10
    stroke-width: 1

.post-item-authors
  margin-left: 1em
  line-height: 1.5

// FORM

input, button
  appearance: none
  background: transparent
  &:focus
    outline-color: $color-yellow

input
  border: 1px solid $color-black
  font-family: $font-sans
  padding: .2em

button
  font-family: $font-sans
  border: none
  text-decoration: underline
  padding: .2em .4em
  margin-left: 1em
  text-transform: uppercase

#mailchimp-email
  width: 100%

#mailchimp-response
  margin-top: .5em

// MENU

#header-lang
  flex: 1

ul.menu
  li
    display: inline-block
    margin-right: $margin-small

// SEARCH

$transition-time = 300ms

$search-height = 33px

#search-spacer
  position: relative
  height: $search-height
  width: 0

#search-holder
  position: absolute
  width: 100%
  z-index: 100

#search-wrapper
  background-color: $color-grey-lite
  color: $color-black
  transition: color $transition-time ease-out, background-color $transition-time ease-out
  will-change: color, background-color

#search-field
  height: 0
  padding-top: $search-height
  width: 100%
  visibility: hidden

#search-trigger-holder
  user-select: none
  cursor: pointer
  position: absolute
  width: 100%

.search-trigger
  height: $search-height
  width: 100%

#search-input
  color: inherit
  border: none
  width: calc('100vw - ' + $margin-basic)
  margin: 0 ($margin-basic / 2)
  border: 0
  border-bottom: 1px solid $color-white
  border-radius: 0
  &:focus
    outline: none
  &::placeholder
    color: $color-grey-light

#search-close
  pointer-events: none
  padding-right: $margin-small
  visibility: hidden

.search-result
  margin-bottom: $margin-basic
  .block-category
    border-color: $color-white

.search-message-holder
  margin-bottom: $margin-large

#search-icon
  margin-top: -0.1em
  margin-right: 0.3em
  width: 11px
  height: 11px
  circle, line
    fill: none
    stroke: $color-black
    stroke-miterlimit: 10
    transition: stroke $transition-time ease-out
  line
    stroke-linecap: square

body.search-active
  #header
    pointer-events: none
  #main-content, #footer
    display: none
  #search-holder
    top: 0
  #search-wrapper
    pointer-events: auto
    width: 100vw
    color: $color-white
    background-color: $color-grey-dark
  #search-trigger-holder
    cursor: default
    z-index: 200
    position: fixed
  #search-field
    visibility: visible
    z-index: 100
    height: auto
    min-height: 100vh
  #search-close
    visibility: visible
    pointer-events: auto
    font-size: 1.2em
  #search-title
    visibility: hidden
    pointer-events: none
  #search-icon
    circle, line
      stroke: $color-white

body.not-mobile
  #search-input
    border: 0
    &::placeholder
      color: transparent
  #search-close
    display: none
  #search-title
    visibility: visible

// HOME

$header-image-height = 250px

#post-featured-holder
  position: relative
  min-height: $header-image-height + ($margin-mid * 2)

#post-featured-title-holder
  overflow: hidden

#post-featured-image-holder
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  background-position: ($gutter / 2) center
  background-repeat: no-repeat
  background-size: auto $header-image-height
  z-index: 0

// ARTICLE

#single-header
  position: relative
  min-height: $header-image-height + ($margin-mid * 2)

#single-title-holder
  position: relative
  z-index: 1

#single-header-image-holder
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: auto $header-image-height
  z-index: 0

article header
  position: relative

#article-content
  & > *
    display: block
    width: 100%
  p
    padding: 0 $margin-tiny
    line-height: 1.7
  ul,ol
    padding: 0 $margin-mid
    margin-bottom: .5rem
    ul,ol
      padding-left: $margin-small
      padding-right: 0
      margin: 0
      margin-top: .5rem
    li
      margin-bottom: .5rem
  h2
    text-align: center
    font-family: $font-serif
    padding: 0 $margin-tiny
    font-size: $font-size-big * .4
    margin-bottom: $margin-mid
  h3
    text-align: center
    font-family: $font-serif
    padding: 0 $margin-tiny
    font-size: $font-size-item-title * $font-size-modifier
    margin-bottom: $margin-small
  ul
    list-style-type: circle
  ol
    list-style-type: upper-roman
  hr.wp-block-separator
    flex-basis: 100%
    max-width: 100%
    border: 0
    height: 1px
    background-color: $color-black
    margin: $margin-basic 0 $margin-mid
  blockquote.wp-block-quote
    font-family: $font-serif
    position: relative
    p
      width: calc('(100% / 12) * 10')
      margin-left: calc('100% / 12')
      padding: 0 $margin-tiny
      font-size: $font-size-big * .4
      margin-top: $margin-basic
    &:before
      content: '\00201C' // left double quotation mark
      position: absolute
      left: 0
      top: 0
      padding: 0 $margin-tiny
      font-size: ($font-size-extra * .3) * 1.5
  .swiper-container
    background-color: $color-grey-dark
    margin: $margin-basic 0 $margin-mid
    .swiper-wrapper
      padding: 0
      margin: 0
    .swiper-slide
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      width: 80vw
    figure
      margin: 0
      max-width: 90%
      max-height: 90vh
      width: auto
      height: auto
      position: relative
      padding: $margin-mid 0
      text-align: center
      img
        max-height: 80vh
        max-width: 100%
        height: auto
        width: auto
    figcaption
      color: $color-white
      padding-top: $margin-tiny
  figure.wp-block-embed
    display: flex
    justify-content: center
    margin-left: auto
    margin-right: auto
    width: calc('100vw - ' + $margin-small)
    flex-wrap: wrap
  .wp-block-embed__wrapper
    max-width: 100%
    & > *
      max-width: 100%
  .wp-block-embed, .wp-block-image
    figcaption
      font-size: $font-size-tiny * $font-size-modifier
      color: $color-black
      display: block
      flex-basis: 100%
      max-width: 100%
  .wp-embed-aspect-16-9
    iframe
      max-height: calc('((100vw - ' + $margin-small + ') * 9) / 16')

// SHARE

.share-options
  width: 100%
  display: none

.share-holder
  &.show
    .share-indicator
      display: none
    .share-options
      display: flex

.copy-trigger
  &:focus
    color: $color-yellow

// HOME

#home-side-row
  display: none
  order: 0

#home-highlight
  order: 1

#home-bottom-row
  order: 2

// VISIT

#map-holder
  min-height: 260px
  iframe
    height: 100%
    width: 100%

// SEE MORE

button#see-more
  appearance: none
  background-color: $color-white
  border: none
  cursor: pointer
  margin: 0
  border-bottom: 1px solid $color-black
  width: 100%
  text-decoration: none
  text-transform: none
  &:hover
    text-decoration: underline
  #see-more-loading
    display: none
  &.loading
    cursor: progress
    cursor: wait
    &:hover
      text-decoration: none
    #see-more-label
      display: none
    #see-more-loading
      display: block

// FOOTER

#footer
  padding-top: $gutter * 5
  li.menu-item
    display: block
    a
      text-decoration: underline
#unam-logo
  height: 50px
  width: auto
