@media screen and (min-width: 1024px)

  $gutter = 30px

  $margin-micro = ($gutter / 4)
  $margin-tiny = ($gutter / 2.5)
  $margin-small = ($gutter / 1.5)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 1.5)
  $margin-large = ($gutter * 2)

  .font-size-extra
    font-size: $font-size-extra * .9
  .font-size-big
    font-size: $font-size-big * .9
  .font-size-large
    font-size: $font-size-large * .9
  .font-size-mid
    font-size: $font-size-mid * .9
  .font-size-basic
    font-size: $font-size-basic * .9
  .font-size-small
    font-size: $font-size-small * .9
  .font-size-tiny
    font-size: $font-size-tiny * .9
  .font-size-micro
    font-size: $font-size-micro * .9

  grid-maker(100%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic * .9)

  .desktop-only
    display: initial !important

  // MENU

  ul.menu
    li
      margin-right: $margin-small

  #header-title, #header-lang
    flex: 1;
    min-width: -webkit-min-content;

  #header-title
    order: 1

  #header-nav
    order: 2

  #header-lang
    order: 3

  // ARTICLE

  $header-image-height = 375px

  #single-header
    min-height: $header-image-height + ($margin-mid * 2)

  #single-header-image-holder
    background-size: auto $header-image-height

  #article-content
    p
      padding: 0 $margin-tiny
      margin-left: 25%
      margin-right: 25%
    hr.wp-block-separator
      margin: $margin-small 0 $margin-basic
    blockquote.wp-block-quote
      p
        padding: 0 $margin-tiny
        font-size: $font-size-big
        margin-top: $margin-basic
      &:before
        font-size: $font-size-extra * 1.5
        padding: 0 $margin-tiny
    figure.wp-block-image
      clear: both
      img
        max-width: 75vw
        max-height: 90vh
        width: auto
        height: auto
        padding: 0 $margin-tiny
        &:only-child
          margin-left: 25vw
      figcaption
        float: left
        width: 25vw
        text-align: left
        padding: 0 $margin-tiny
        margin: 0
    .swiper-container
      margin: $margin-basic 0 $margin-mid
      figure
        padding: $margin-mid 0

  // HOME

  #home-side-row
    article:nth-child(n+4)
      display: initial

  #home-bottom-row
    article:nth-child(-n+6)
      display: none

  // FOOTER
  #footer
    padding-top: $gutter * 5
