@media screen and (min-width: 720px)

  $gutter = 30px

  $margin-micro = 8
  $margin-tiny = ($gutter / 2.5)
  $margin-small = ($gutter / 1.5)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 1.5)
  $margin-large = ($gutter * 2)

  $font-size-modifier = .7

  .font-size-extra
    font-size: $font-size-extra * .5
  .font-size-big
    font-size: $font-size-big * .5
  .font-size-large
    font-size: $font-size-large * .6
  .font-size-item-title
    font-size: $font-size-item-title * $font-size-modifier
  .font-size-mid
    font-size: $font-size-mid * $font-size-modifier
  .font-size-basic
    font-size: $font-size-basic * $font-size-modifier
  .font-size-small
    font-size: $font-size-small * $font-size-modifier
  .font-size-tiny
    font-size: $font-size-tiny * $font-size-modifier
  .font-size-micro
    font-size: $font-size-micro * $font-size-modifier

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, m)

  .mobile-only
    display: none !important

  .not-mobile
    display: initial !important

  // BASIC

  .detail-thumb-holder
    height: 30vw

  // MENU

  ul.menu
    li
      margin-right: $margin-small

  // SEARCH

  $search-height = 33px

  body.search-active
    #header
      pointer-events: auto
    #main-content, #footer
      display: block
    #search-trigger-holder
      position: absolute
    #search-holder
      top: auto
    #search-field
      opacity: 1
      height: 500px
      min-height: unset
      pointer-events: auto

  #search-spacer
    height: $search-height

  #search-input
    width: calc('100vw - ' + $margin-basic)
    margin: 0 ($margin-basic / 2)

  #search-field
    opacity: 0
    display: flex
    flex-direction: column
    transition: height $transition-time ease-out, opacity $transition-time ease-out
    visibility: visible
    pointer-events: none
    padding-top: $search-height

  .search-result
    margin-bottom: 0

  .search-trigger
    height: $search-height

  // HOME

  $header-image-height = 300px

  #post-featured-image-holder
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    background-position: ($gutter / 2) center
    background-size: auto $header-image-height

  #home-side-row
    display: flex
    order: 0
    article:nth-child(n+4)
      display: none

  #home-bottom-row
    article:nth-child(-n+3)
      display: none

  // ARTICLE

  #single-header
    min-height: $header-image-height + ($margin-mid * 2)

  #single-header-image-holder
    background-size: auto $header-image-height

  #article-content
    p
      padding: 0 $margin-tiny
    ul,ol
      padding: 0 $margin-mid
      ul,ol
        padding-left: $margin-small
    h2
      padding: 0 $margin-tiny
      font-size: $font-size-big * .5
      margin-bottom: $margin-mid
    h3
      padding: 0 $margin-tiny
      font-size: $font-size-item-title * $font-size-modifier
      margin-bottom: $margin-small
    h4, h5, h6
      padding: 0 $margin-tiny
      margin-bottom: $margin-small
    hr.wp-block-separator
      margin: $margin-basic 0 $margin-mid
    .swiper-container
      margin: $margin-basic 0 $margin-mid
      figure
        padding: $margin-mid 0
      figcaption
        padding-top: $margin-tiny
    figure.wp-block-embed
      padding: 0 $margin-tiny
    .wp-block-embed, .wp-block-image
      figcaption
        font-size: $font-size-tiny * $font-size-modifier

  // VISIT

  #map-holder
    min-height: 320px

  // PROGRAM
  .archive-event-future-image-holder
    text-align: right
    img
      max-height: 200px
      height: auto
      width: auto

  .archive-event-past-image-holder
    text-align: right
    img
      max-height: 100px
      height: auto
      width: auto

  // FOOTER

  #footer
    padding-top: $gutter * 5
    li.menu-item
      display: inline-block
